/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}
/* About */
#pic img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    align-items: center;
}
#intro h2{
    font-size: 1.5rem;
}

/* Portofolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}
#portofolio{
    align-items: center;
}