*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.61);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;    
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    background: url(images/Tate\ Daniela\ \(1\).png) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
}
.headings{
    font-family:initial;
    font-size: 2rem;
    text-align: center;
    margin: 6px 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;

}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
/* About Sections */
#about{
    background: url(images/coperta.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}
#pic{
    display: flex;
    background-color: rgba(0, 0, 0, 0.993);
    border-radius: 20px;
}
#pic h3{
    color: white;
}
#pic h4{
    color: white;
}
#pic img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
#intro p{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}
/*portofolio Section */
#portofolio{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    padding: 10px;
    
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
    border-radius: 15px;
}
/*services Section */

#services{
    background: url(images/coperta.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.row h1{
    color: black;
    font-size: 1.5rem;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 3px solid black;
    margin: 60px;
    align-items: center;
    text-align: justify;
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(to top, rgb(238, 9, 9) 50%), rgb(43, 16, 16) 50%;
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color:  rgb(44, 44, 44);
    border: none;
    box-shadow: 0 0 60px rgb(31, 31, 32);
}
.box img{
    width: 150px;
    height: 40px;
    margin-top: 35px;
}
.box h1{
    font-size: 1.8rem;
    margin-bottom: 2px;
    border-radius: 10px;
    margin-top: 25px;
}
.box h4{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
#aboutservices{
    background-color: black;
    border-radius: 20px;
}
h1{
    color: white;
}